os: linux
sudo: false
language: go

go:
  - 1.9.x
  - 1.10.x
  - master

matrix:
  allow_failures:
    - go: master

branches:
  only:
    - master

addons:
  apt:
    packages:
    - libnotify-dev
    - libgtk2.0-dev

install: go get -t -v

script: go test -v

notifications:
  email:
    on_success: always
